{
	"token": "your_token",
	"git_auth": "your git auth token",
	"devs": [
		"147741474685976576"
	],
	"repos": [
		{
			"name": "VGStation",
			"prefix": "",
			"repo": "vgstation-coders/vgstation13"
		},
		{
			"name": "Crab",
			"prefix": "c",
			"repo": "PaulRitter/Crab"
		}
	]
}