{
	"token": "your_token",
	"repos": [
		{
			"name": "VGStation",
			"prefix": "",
			"repo": "vgstation-coders/vgstation13",
			"admin_ids": [
				"147741474685976576"
			]
		},
		{
			"name": "Crab",
			"prefix": "c",
			"repo": "PaulRitter/Crab",
			"admin_ids": [
				"147741474685976576"
			]
		}
	]
}