{
	"token": "your_token",
	"git_auth": "your git auth token",
	"devs": [
		"147741474685976576"
	],
	"modules": [
		{
			"name": "Core",
			"path": "../Crab/bin/Debug/netcoreapp3.0/Crab.dll",
			"only_reload": true
		},
		{
			"name": "Commands.Basics",
			"path": "../Crab.Commands.Basics/bin/Debug/netcoreapp3.0/Crab.Commands.Basics.dll"
		},
		{
			"name": "Commands.Botcontrol",
			"path": "../Crab.Commands.Botcontrol/bin/Debug/netcoreapp3.0/Crab.Commands.Botcontrol.dll",
			"only_reload": true
		},
		{
			"name": "Commands.Github",
			"path": "../Crab.Commands.Github/bin/Debug/netcoreapp3.0/Crab.Commands.Github.dll"
		},
		{
			"name": "Commands.Fun",
			"path": "../Crab.Commands.Fun/bin/Debug/netcoreapp3.0/Crab.Commands.Fun.dll"
		}
	],
	"repos": [
		{
			"name": "VGStation",
			"prefix": "",
			"repo": "vgstation-coders/vgstation13"
		},
		{
			"name": "Crab",
			"prefix": "c",
			"repo": "PaulRitter/Crab"
		}
	]
}